<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="row" style="margin-top: 20px">
			<div
				class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form method="post" th:object="${user}">

					<input th:if="${internalMode}=='editing'" name="_method"
						type="hidden" value="PATCH" />
						<input th:if="${internalMode} == 'editing'" name="cod"
							type="hidden" th:value="*{cod}" id="cod" />
						
					<fieldset>
						<h2 th:if="${internalMode}=='saving'">Sing up now for Free!</h2>
						<h2 th:if="${internalMode}=='editing'">What do you whant to
							change?</h2>

						<div class="form-group">
							<input th:if="${internalMode}=='saving'" type="text"
								name="username" id="username" class="form-control input-lg"
								placeholder="UserName" required="true" autofocus="true"
								th:value="*{username}"></input> <input
								th:if="${internalMode}=='editing'" type="text" name="username"
								id="username" class="form-control input-lg"
								placeholder="UserName" required="true" readonly="true"
								autofocus="true" th:value="*{username}"></input> <span
								class="formError" th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}">Invalid username</span>
						</div>

						<div class="form-group">
							<input type="password" name="password" id="password"
								class="form-control input-lg" placeholder="Password"
								required="true" th:value="*{password}" /><span
								class="formError" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}">Invalid password</span>
						</div>
						<div class="form-group">
							<input type="email" name="email" id="email"
								class="form-control input-lg" placeholder="Email"
								required="true" th:value="*{email}" /><span class="formError"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid
								email</span>
						</div>
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<input th:if="${internalMode}=='saving'" type="submit"
									class="btn btn-lg btn-primary btn-block" value="Sign Up"></input>
								<input th:if="${internalMode}=='editing'" type="submit"
									class="btn btn-lg btn-primary btn-block" value="Save changes" />
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6"></div>

						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer" />

</body>
</html>