<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New song</title>

<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<div th:replace="fragments/header :: header" />


	<form method="post" th:object="${song}">

		<input th:if="${internalMode}=='editing'" name="_method" type="hidden"
			value="PATCH" />

		<div class="container">
			<div class="row" style="margin-top: 20px">
				<div
					class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
					<fieldset>
						<h2 th:if="${internalMode}=='saving'">Add your new song!</h2>
						<h2 th:if="${internalMode}=='editing'">What do you want to change?</h2>

						<div class="form-group">
							<input type="text" name="title" id="title"
								class="form-control input-lg" placeholder="Title"
								required="true" autofocus="true" th:value="*{title}" />
						</div>
						<div class="form-group">
							<input type="text" name="albumName" id="albumName"
								class="form-control input-lg" placeholder="Album's Name"
								th:value="*{albumName}" />
						</div>
						<div class="form-group">
							<input type="text" name="artistName" id="artistName"
								class="form-control input-lg" placeholder="Artist's Name"
								th:value="*{artistName}" />
						</div>
						<div class="form-group">
							<input type="text" name="genre" id="genre"
								class="form-control input-lg" placeholder="Genre"
								th:value="*{genre}" />
						</div>
						<div class="form-group">
							<input type="text" name="duration" id="duration"
								class="form-control input-lg" placeholder="Duration"
								required="true" th:value="*{duration}" />
						</div>
						<div class="form-group">
							<input type="text" name="year" id="year"
								class="form-control input-lg" placeholder="Year of publication"
								th:value="*{year}" />
						</div>
						<input th:if="${internalMode} == 'saving'" name="owner"
							type="hidden" value="25" />

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<input type="submit" class="btn btn-lg btn-primary btn-block"
									value="Save" />
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6"></div>

							<div class="col-xs-6 col-sm-6 col-md-6">
								<a th:if="${internalMode}=='saving'" th:href="@{/}"
									class="btn btn-lg btn-primary btn-block">Cancel</a> 
									<a
									th:if="${internalMode}=='editing'" th:href="@{/song/{cod}/(cod=${song.cod})}"
									class="btn btn-lg btn-primary btn-block">Cancel</a>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>


	</form>

	<div th:replace="fragments/footer :: footer" />
</body>
</html>