<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${song.title}">Title</title>
<div th:replace="/fragments/header :: header-css" />
</head>
<body>

	<div th:replace="/fragments/header :: header" />





	<div class="container">

		<div class="row" style="margin-top: 20px">
			<div
				class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

				<fieldset>
					<div>
						<article>
							<h2 class="title" th:text="${song.title}">Song's Title</h2>

							<h4>Song's Album:</h4>
							<span th:text="${song.albumName}">AlbumName</span> <br></br>

							<h4>Song's Artist:</h4>
							<span th:text="${song.artistName}">ArtistName</span> <br></br>

							<h4>Song's Genre:</h4>
							<span th:text="${song.genre}">Genre</span> <br></br>

							<h4>Song's Duration:</h4>
							<span th:text="${song.duration}">Duration</span> <br></br>

							<h4>Publicated in:</h4>
							<span th:text="${song.year}">2016</span> <br></br>
						</article>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<form method="post" th:object="${song}">
								<input name="_method" type="hidden" value="PUT" /> <input
									type="submit" class="btn btn-lg btn-primary btn-block"
									value="Edit" />
							</form>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<form method="post" th:object="${song}">
								<input name="_method" type="hidden" value="DELETE" /> <input
									type="submit" class="btn btn-lg btn-primary btn-block"
									value="Delete" />
							</form>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>



	<div th:replace="fragments/footer :: footer" />

</body>
</html>